@charset "UTF-8";

@font-face {
  font-family: "tomplabs_icons";
  src:url("../fonts/tomp-icons/tomp-icon.eot");
  src:url("../fonts/tomp-icons/tomp-icon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/tomp-icons/tomp-icon.woff") format("woff"),
    url("../fonts/tomp-icons/tomp-icon.ttf") format("truetype"),
    url("../fonts/tomp-icons/tomp-icon.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
    

}


[class^="tomplabs-"]:before,
[class*="tomplabs-"]:before {
  font-family: "tomplabs_icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tomplabs-youtube-2:before {
  content: "\61";
}
.tomplabs-youtube-1:before {
  content: "\62";
}
.tomplabs-youtube:before {
  content: "\63";
}
.tomplabs-user:before {
  content: "\64";
}
.tomplabs-upload-arrow:before {
  content: "\65";
}
.tomplabs-worldwide-1:before {
  content: "\66";
}
.tomplabs-user-1:before {
  content: "\67";
}
.tomplabs-van:before {
  content: "\68";
}
.tomplabs-viber:before {
  content: "\69";
}
.tomplabs-viber-1:before {
  content: "\6a";
}
.tomplabs-video-camera:before {
  content: "\6b";
}
.tomplabs-video-player:before {
  content: "\6c";
}
.tomplabs-whatsapp:before {
  content: "\6d";
}
.tomplabs-whatsapp-1:before {
  content: "\6e";
}
.tomplabs-whatsapp-2:before {
  content: "\6f";
}
.tomplabs-woman:before {
  content: "\70";
}
.tomplabs-worldwide:before {
  content: "\71";
}
.tomplabs-upload:before {
  content: "\72";
}
.tomplabs-up-arrow:before {
  content: "\73";
}
.tomplabs-twitter-logo-silhouette:before {
  content: "\74";
}
.tomplabs-twitter-2:before {
  content: "\75";
}
.tomplabs-twitter-1:before {
  content: "\76";
}
.tomplabs-twitter:before {
  content: "\77";
}
.tomplabs-truck:before {
  content: "\78";
}
.tomplabs-transport-12:before {
  content: "\79";
}
.tomplabs-transport-11:before {
  content: "\7a";
}
.tomplabs-transport-10:before {
  content: "\41";
}
.tomplabs-transport-9:before {
  content: "\42";
}
.tomplabs-transport-8:before {
  content: "\43";
}
.tomplabs-transport-7:before {
  content: "\44";
}
.tomplabs-stemware:before {
  content: "\45";
}
.tomplabs-technology:before {
  content: "\46";
}
.tomplabs-technology-1:before {
  content: "\47";
}
.tomplabs-time:before {
  content: "\48";
}
.tomplabs-skype-1:before {
  content: "\49";
}
.tomplabs-tool-1:before {
  content: "\4a";
}
.tomplabs-tool:before {
  content: "\4b";
}
.tomplabs-transport:before {
  content: "\4c";
}
.tomplabs-transport-1:before {
  content: "\4d";
}
.tomplabs-transport-2:before {
  content: "\4e";
}
.tomplabs-transport-3:before {
  content: "\4f";
}
.tomplabs-transport-4:before {
  content: "\50";
}
.tomplabs-transport-5:before {
  content: "\51";
}
.tomplabs-transport-6:before {
  content: "\52";
}
.tomplabs-star-1:before {
  content: "\53";
}
.tomplabs-star:before {
  content: "\54";
}
.tomplabs-squares:before {
  content: "\55";
}
.tomplabs-square:before {
  content: "\56";
}
.tomplabs-speech-bubble:before {
  content: "\57";
}
.tomplabs-smartphone:before {
  content: "\58";
}
.tomplabs-skype-2:before {
  content: "\59";
}
.tomplabs-skype:before {
  content: "\5a";
}
.tomplabs-shopping-cart:before {
  content: "\30";
}
.tomplabs-shopping-bag:before {
  content: "\31";
}
.tomplabs-shield:before {
  content: "\32";
}
.tomplabs-share:before {
  content: "\33";
}
.tomplabs-pinterest-2:before {
  content: "\34";
}
.tomplabs-placeholder:before {
  content: "\35";
}
.tomplabs-placeholder-1:before {
  content: "\36";
}
.tomplabs-plus:before {
  content: "\37";
}
.tomplabs-price-tag:before {
  content: "\38";
}
.tomplabs-profile:before {
  content: "\39";
}
.tomplabs-pulse:before {
  content: "\21";
}
.tomplabs-road:before {
  content: "\22";
}
.tomplabs-search:before {
  content: "\23";
}
.tomplabs-server:before {
  content: "\24";
}
.tomplabs-settings-1:before {
  content: "\26";
}
.tomplabs-shapes:before {
  content: "\25";
}
.tomplabs-pinterest:before {
  content: "\27";
}
.tomplabs-picture-1:before {
  content: "\28";
}
.tomplabs-picture:before {
  content: "\29";
}
.tomplabs-phone-call-1:before {
  content: "\2a";
}
.tomplabs-phone-call:before {
  content: "\2b";
}
.tomplabs-paper-plane-1:before {
  content: "\2c";
}
.tomplabs-paper-plane:before {
  content: "\2d";
}
.tomplabs-padlock:before {
  content: "\2e";
}
.tomplabs-next:before {
  content: "\2f";
}
.tomplabs-new-file:before {
  content: "\3a";
}
.tomplabs-mouse:before {
  content: "\3b";
}
.tomplabs-minus:before {
  content: "\3c";
}
.tomplabs-line-graph:before {
  content: "\3d";
}
.tomplabs-linkedin:before {
  content: "\3e";
}
.tomplabs-linkedin-1:before {
  content: "\3f";
}
.tomplabs-linkedin-logo:before {
  content: "\40";
}
.tomplabs-list:before {
  content: "\5b";
}
.tomplabs-list-1:before {
  content: "\5d";
}
.tomplabs-list-2:before {
  content: "\5e";
}
.tomplabs-locked:before {
  content: "\5f";
}
.tomplabs-mail:before {
  content: "\60";
}
.tomplabs-mail-1:before {
  content: "\7b";
}
.tomplabs-man:before {
  content: "\7c";
}
.tomplabs-medical:before {
  content: "\7d";
}
.tomplabs-like:before {
  content: "\7e";
}
.tomplabs-light-bulb:before {
  content: "\5c";
}
.tomplabs-letter:before {
  content: "\e000";
}
.tomplabs-interface-2:before {
  content: "\e001";
}
.tomplabs-interface-1:before {
  content: "\e002";
}
.tomplabs-interface:before {
  content: "\e003";
}
.tomplabs-instagram-2:before {
  content: "\e004";
}
.tomplabs-instagram-1:before {
  content: "\e005";
}
.tomplabs-instagram:before {
  content: "\e006";
}
.tomplabs-image-1:before {
  content: "\e007";
}
.tomplabs-image:before {
  content: "\e008";
}
.tomplabs-home:before {
  content: "\e009";
}
.tomplabs-gasoline-pump:before {
  content: "\e00a";
}
.tomplabs-envelope:before {
  content: "\e00b";
}
.tomplabs-envelope-1:before {
  content: "\e00c";
}
.tomplabs-eye:before {
  content: "\e00d";
}
.tomplabs-facebook:before {
  content: "\e00e";
}
.tomplabs-facebook-1:before {
  content: "\e00f";
}
.tomplabs-favorite:before {
  content: "\e010";
}
.tomplabs-favorite-1:before {
  content: "\e011";
}
.tomplabs-favorite-2:before {
  content: "\e012";
}
.tomplabs-favorite-3:before {
  content: "\e013";
}
.tomplabs-fax-machine:before {
  content: "\e014";
}
.tomplabs-funnel:before {
  content: "\e015";
}
.tomplabs-gas-station:before {
  content: "\e016";
}
.tomplabs-edit:before {
  content: "\e017";
}
.tomplabs-earth-globe:before {
  content: "\e018";
}
.tomplabs-dribble-logo:before {
  content: "\e019";
}
.tomplabs-download-arrow:before {
  content: "\e01a";
}
.tomplabs-download:before {
  content: "\e01b";
}
.tomplabs-down-arrow:before {
  content: "\e01c";
}
.tomplabs-diamond:before {
  content: "\e01d";
}
.tomplabs-cup:before {
  content: "\e01e";
}
.tomplabs-credit-card:before {
  content: "\e01f";
}
.tomplabs-compass:before {
  content: "\e020";
}
.tomplabs-command:before {
  content: "\e021";
}
.tomplabs-clock-3:before {
  content: "\e022";
}
.tomplabs-clock-2:before {
  content: "\e023";
}
.tomplabs-boxes:before {
  content: "\e024";
}
.tomplabs-briefcase:before {
  content: "\e025";
}
.tomplabs-business:before {
  content: "\e026";
}
.tomplabs-calendar:before {
  content: "\e027";
}
.tomplabs-car:before {
  content: "\e028";
}
.tomplabs-car-1:before {
  content: "\e029";
}
.tomplabs-car-2:before {
  content: "\e02a";
}
.tomplabs-car-3:before {
  content: "\e02b";
}
.tomplabs-car-4:before {
  content: "\e02c";
}
.tomplabs-chat:before {
  content: "\e02d";
}
.tomplabs-circle:before {
  content: "\e02e";
}
.tomplabs-clock:before {
  content: "\e02f";
}
.tomplabs-clock-1:before {
  content: "\e030";
}
.tomplabs-box:before {
  content: "\e031";
}
.tomplabs-bookmark:before {
  content: "\e032";
}
.tomplabs-bolt:before {
  content: "\e033";
}
.tomplabs-back:before {
  content: "\e034";
}
.tomplabs-atom:before {
  content: "\e035";
}
.tomplabs-artist-color-palette:before {
  content: "\e036";
}
.tomplabs-apple-1:before {
  content: "\e037";
}
.tomplabs-apple:before {
  content: "\e038";
}
.tomplabs-android-hand-drawn-logo-outline:before {
  content: "\e039";
}
.tomplabs-android-logo:before {
  content: "\e03a";
}
.tomplabs-alarm-1:before {
  content: "\e03b";
}
.tomplabs-alarm:before {
  content: "\e03c";
}
.tomplabs-agenda:before {
  content: "\e03d";
}
.tomplabs-add:before {
  content: "\e03e";
}
.tomplabs-paper-plane-2:before {
  content: "\e03f";
}
.tomplabs-view:before {
  content: "\e040";
}
.tomplabs-picture-2:before {
  content: "\e041";
}
.tomplabs-alarm-2:before {
  content: "\e042";
}
.tomplabs-calendar-1:before {
  content: "\e043";
}
.tomplabs-play-button:before {
  content: "\e044";
}
.tomplabs-play-button-1:before {
  content: "\e045";
}
.tomplabs-edit-1:before {
  content: "\e046";
}
.tomplabs-error:before {
  content: "\e047";
}
.tomplabs-search-1:before {
  content: "\e048";
}
.tomplabs-settings:before {
  content: "\e049";
}
.tomplabs-facebook-logo:before {
  content: "\e04a";
}
.tomplabs-file:before {
  content: "\e04b";
}
.tomplabs-share-1:before {
  content: "\e04c";
}
.tomplabs-social:before {
  content: "\e04d";
}
.tomplabs-google:before {
  content: "\e04e";
}
.tomplabs-internet:before {
  content: "\e04f";
}
.tomplabs-star-2:before {
  content: "\e050";
}
.tomplabs-success:before {
  content: "\e051";
}
.tomplabs-like-1:before {
  content: "\e052";
}
.tomplabs-locked-1:before {
  content: "\e053";
}
.tomplabs-twitter-3:before {
  content: "\e054";
}
.tomplabs-user-2:before {
  content: "\e055";
}
.tomplabs-login:before {
  content: "\e056";
}
.tomplabs-mail-2:before {
  content: "\e057";
}
.tomplabs-video-player-1:before {
  content: "\e058";
}
.tomplabs-add-1:before {
  content: "\e059";
}
.tomplabs-add-circular-button:before {
  content: "\e05a";
}
.tomplabs-cross:before {
  content: "\e05b";
}
.tomplabs-delete:before {
  content: "\e05c";
}
.tomplabs-delete-1:before {
  content: "\e05d";
}
.tomplabs-edit-2:before {
  content: "\e05e";
}
.tomplabs-list-3:before {
  content: "\e05f";
}
.tomplabs-professional-profile-with-image:before {
  content: "\e060";
}
.tomplabs-test-tube-experiment:before {
  content: "\e061";
}
.tomplabs-world:before {
  content: "\e062";
}
.tomplabs-user-3:before {
  content: "\e063";
}
.tomplabs-vallet:before {
  content: "\e064";
}
.tomplabs-video:before {
  content: "\e065";
}
.tomplabs-vynil:before {
  content: "\e066";
}
.tomplabs-tv:before {
  content: "\e067";
}
.tomplabs-truck-1:before {
  content: "\e068";
}
.tomplabs-tag:before {
  content: "\e069";
}
.tomplabs-paperplane:before {
  content: "\e06a";
}
.tomplabs-heart:before {
  content: "\e06b";
}
.tomplabs-like-2:before {
  content: "\e06c";
}
.tomplabs-lab:before {
  content: "\e06d";
}
.tomplabs-camera:before {
  content: "\e06e";
}
.tomplabs-clip:before {
  content: "\e06f";
}
.tomplabs-clock-4:before {
  content: "\e070";
}
.tomplabs-location:before {
  content: "\e071";
}
.tomplabs-stack:before {
  content: "\e072";
}
.tomplabs-megaphone:before {
  content: "\e073";
}
.tomplabs-data:before {
  content: "\e074";
}
.tomplabs-display:before {
  content: "\e075";
}
.tomplabs-diamond-1:before {
  content: "\e076";
}
.tomplabs-music:before {
  content: "\e077";
}
.tomplabs-news:before {
  content: "\e078";
}
.tomplabs-note:before {
  content: "\e079";
}
.tomplabs-eye-1:before {
  content: "\e07a";
}
.tomplabs-t-shirt:before {
  content: "\e07b";
}
.tomplabs-study:before {
  content: "\e07c";
}
.tomplabs-star-3:before {
  content: "\e07d";
}
.tomplabs-sound:before {
  content: "\e07e";
}
.tomplabs-mail-3:before {
  content: "\e07f";
}
.tomplabs-cup-1:before {
  content: "\e080";
}
.tomplabs-cloud:before {
  content: "\e081";
}
.tomplabs-lock:before {
  content: "\e082";
}
.tomplabs-shop:before {
  content: "\e083";
}
.tomplabs-settings-2:before {
  content: "\e084";
}
.tomplabs-search-2:before {
  content: "\e085";
}
.tomplabs-photo:before {
  content: "\e086";
}
.tomplabs-phone:before {
  content: "\e087";
}
.tomplabs-key:before {
  content: "\e088";
}
.tomplabs-calendar-2:before {
  content: "\e089";
}
.tomplabs-bulb:before {
  content: "\e08a";
}
.tomplabs-pen:before {
  content: "\e08b";
}
.tomplabs-params:before {
  content: "\e08c";
}
.tomplabs-bubble:before {
  content: "\e08e";
}
.tomplabs-banknote:before {
  content: "\e08f";
}
.tomplabs-fire:before {
  content: "\e090";
}
.tomplabs-trash:before {
  content: "\e091";
}
.tomplabs-imac:before {
  content: "\e08d";
}
.tomplabs-pencil:before {
  content: "\e092";
}
.tomplabs-bag:before {
  content: "\e093";
}
